*.aux
*.bbl
*.bcf
*.blg
*.crumbs
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.pyg
*.run.xml
*.toc
*.xcp
.DS_Store
.idea/
00-syllabus/00-syllabus.pdf
01-integration/01-integration.pdf
02-scope/02-scope.pdf
03-time/03-time.pdf
04-cost/04-cost.pdf
05-quality/05-quality.pdf
06-resources/06-resources.pdf
07-communications/07-communications.pdf
08-risk/08-risk.pdf
09-procurement/09-procurement.pdf
10-stakeholder/10-stakeholder.pdf
_minted-*/
_minted-wp/
node_modules/
package/
svg-inkscape/
target/
